<% title "Item" %>

<p>
  <strong>Meeting:</strong>
  <%= @item.meeting_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<p>
  <%= link_to "Edit", edit_item_path(@item) %> |
  <%= link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", items_path %>
</p>
