<%= form_for @goal do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :meeting_id %><br />
    <%= f.text_field :meeting_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p><%= f.submit %></p>
<% end %>
